<div class="row no-m-t no-m-b">
  <div class="col s12 m12 l12 no-p-h">
      <div class="card mailbox-content">
          <div class="card-content">
              <div class="col s12" style="background-color:#e2e1e1; padding-top:5px">
                  
                    <app-breadcrumb-cv-database></app-breadcrumb-cv-database>
                    <app-cv-database-quick-action-buttons></app-cv-database-quick-action-buttons>

              </div>
             <!-- <div class="col s12 center" style="background-color:#f4f4f4; "> </div>-->
            <!--Filter Bar starts Here-->
            <app-applicant-filter></app-applicant-filter>

              <div class="row no-m-t no-m-b">
                  <div class="col s12 m5 l4">
                      <!--Candidate List will go Here-->
                      <app-applicants-list></app-applicants-list>
                      
                  </div>
                  <app-applicant-job-title></app-applicant-job-title>
                  <div class="col s12 m7 l8">

            <!--Job Title Heading Goes Here-->

                      <div class="mailbox-options">
                       
                          <!-- Applicant Menu Here-->
                          <app-applicant-nav-bar></app-applicant-nav-bar>
                      </div>

                      <div class="mailbox-view col s12">
                        <div id="cInfo" class="routeContainer" [@routeAnimation]="getDepth(myOutlet)">
                        
                            <router-outlet #myOutlet="outlet"></router-outlet>
                            </div>
                        
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-applicant-floating-buttons></app-applicant-floating-buttons>




