
<div class="row no-m-t no-m-b">
  <div class="col s12 m12 l12 no-p-h">
      <div class="card mailbox-content">
          <div class="card-content">
              <div class="col s12" style="background-color:#e2e1e1; padding-top:5px">
                  
                    <app-breadcrumb-cv-database></app-breadcrumb-cv-database>
                    <app-cv-database-quick-action-buttons></app-cv-database-quick-action-buttons>

              </div>
             <!-- <div class="col s12 center" style="background-color:#f4f4f4; "> </div>-->
            <!--Filter Bar starts Here-->
            <app-applicant-filter></app-applicant-filter>


           <ng-container *ngIf="isApplicantExist; else elseTemplate">
               
              <div class="row no-m-t no-m-b">
                    <div class="col s12 m5 l4">
                        <!--Candidate List will go Here-->
                        <app-applicants-list ></app-applicants-list>
                        
                    </div>
                    
                    <app-applicant-job-title></app-applicant-job-title>
                    <app-candidate-details></app-candidate-details> 
                </div>
           </ng-container>
           <ng-template #elseTemplate>
                <div class="row no-m-t no-m-b" style="min-height:750px; background-color: #f4f5f8;">
                        <div class="col s12 m5 l12">
                            <div align="center" style="padding:20px;">
                                    <h5 style="padding-top:15px;">There are no applicants. We couldn't find any applicants this time :(</h5>
                                <img src="/assets/images/no-results.gif" />
                            </div>
                                
                            </div>
                            </div>

               
           </ng-template>
           
             
              

             
          


          </div>
      </div>
  </div>
</div>

<app-applicant-floating-buttons></app-applicant-floating-buttons>






