
    <div class="mailbox-list" style="max-height:1300px !important; min-height: 1300px;">
            <ng-container *ngIf="isLoaded; else elseTemplate">
        <div class="col l12 candidate-header">
            Total Candidates({{TotalCandidates}})
      
            <div class="right">
                <div style="margin-top:-2px;">
      
                    <div style="float:left">
                      
                       
                        <i *ngIf="CurrentPageNo>1" (click)="GoToPreviousPage()" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Go to page 1" style="cursor:pointer;">fast_rewind</i>
                     
                      </div>
                    <div class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dispalying 50 candidates | Page 2 of 459 pages" style="float:left; padding:2px 8px 0px 8px;">Page {{CurrentPageNo}}</div>
                    <i  *ngIf="CurrentPageNo<MaxPage" (click)="GoToNextPage()" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Go to page 3" style="cursor:pointer;">fast_forward</i>
                </div>
            </div>
        </div>
      
        <div class="clear-both"></div>
        
        <ul>
            
          <app-applicant *ngFor="let applicant of ApplicantsList;  let i = index" [Applicant]="applicant" [ActiveCandidateID]="SelectedCandidateID" ></app-applicant>
          
          
      
        </ul>
    </ng-container>
    <ng-template #elseTemplate>

            <div align="center" style="margin-top:30px;">
                    <img src="/assets/images/fluid-loader.gif" />
                </div>
        
    </ng-template>
    
      </div>
      
      

