<h5 class="mailbox-subtitle">PAST Application Status</h5>
<table class="bordered">
    <thead>
        <tr>
            <th data-field="job">Job</th>
            <th data-field="job">Destination</th>
            <th data-field="posted-date">Posted Date</th>
            <th data-field="status">Status</th>
            <th data-field="hired-candidate">Hired Candidate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>UI Designer</td>
            <td>Marketing, Al Qasba</td>
            <td>March 04, 2014</td>
            <td><a href="#"><i class="fas fa-phone"></i> Rejected- Phone Screen</a></td>
            <td><a href="#">Mr. Samer Khader Haddad <i class="fas fa-external-link-alt"></i></a></td>

        </tr>

        <tr>
            <td>Web Administrator</td>
            <td>PR, Al Montazah</td>
            <td>April 09, 2012</td>
            <td><a href="#"><i class="fas fa-users"></i> Rejected- Interview</a></td>
            <td><a href="#">Mr. Adulla Al Ali <i class="fas fa-external-link-alt"></i></a></td>

        </tr>


    </tbody>
</table>