<h5 class="mailbox-subtitle">PAST Application Status</h5>
<ng-container *ngIf="isPastApplicationExist; else elseTemplate">
    <table class="bordered">
        <thead>
            <tr>
                <th data-field="job">Job</th>
                <th data-field="job">Destination</th>
                <th data-field="posted-date">Posted Date</th>
                <th data-field="status">Status</th>
                <th data-field="hired-candidate">Hired Candidate</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of ApplicantPastApplicationStatus">
                       
                
           
                <td>{{item.Title}}</td>
                <td>{{item.Department}}, {{Entity}}</td>
                <td>{{item.OpeningDate | date }}</td>
               <td></td>
               <td></td>
            </tr>
    
          
    
    
        </tbody>
    </table>
</ng-container>
<ng-template #elseTemplate>
    No past records found.
</ng-template>


