<app-applicant-quick-action-buttons ></app-applicant-quick-action-buttons>
<ul>

  <li> <a  CssClass="candidate-tab" routerLink="overview" routerLinkActive="candidate-active-tab">Overview</a></li>
  <li> <a  CssClass="candidate-tab tooltipped1" data-position="bottom" data-delay="50" data-tooltip="Click to view the status of jobs applied by Mr. Kevin Pieterson " routerLink="status" routerLinkActive="candidate-active-tab">Application Status</a></li>
  <li> <a  CssClass="candidate-tab tooltipped1"  routerLink="logs" routerLinkActive="candidate-active-tab">Activity Log</a></li>

</ul>