<h5 class="mailbox-subtitle">Timeline</h5>
<ul>
<li  class="collection-item"><span class="cv-subtitle-heading"></span></li>
</ul>  

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" *ngFor="let item of ApplicantTimeline;">
        <div class="cd-timeline-img cd-picture">
            <i class="fas fa-file-alt timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>{{item.Message}} </p>
           <div *ngFor="let docs of item.TimelineDocuments">
                <i class="material-icons">attach_file</i>  <a href="{{docs.FileLocation}}" style="vertical-align:super;"> {{ docs.FileName }}</a>
           </div>

            <span class="cd-date">Jan 10</span>
        </div> <!-- cd-timeline-content -->
    </div> 
    
    
    
    
    
    
  


  
</section> <!-- cd-timeline -->