<h5 class="mailbox-subtitle">Timeline</h5>

  

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fas fa-file-alt timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>Applied through shurooq job portal</p>

            <span class="cd-date">Jan 10</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
     <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fas fa-eye timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>CV Shortlisted by Mr. Omar Bahool</p>

            <span class="cd-date">Jan 14</span>
        </div> <!-- cd-timeline-content -->
    </div>

       <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fas fa-user-check timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>Approved for Interview by Mr. Mahendra Kakumanu</p>

            <span class="cd-date">Jan 14</span>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fas fa-calendar-check timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>Scheduled for Interview on Jan 20</p>

            <span class="cd-date">Jan 14</span>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            
           <i class="fas fa-user-times timeline-icon"></i>
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content">

            <p>Rejected after Interview</p>

            <span class="cd-date">Jan 20</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


  
</section> <!-- cd-timeline -->