<h5 class="mailbox-subtitle">Current Application Status</h5>
  <ul class="collection">
      <li class="collection-item"> <div class="basic-info-title left width-100">Job Title</div>  Web Developer</li>
      <li class="collection-item"><div class="basic-info-title left width-100">Destination</div>Shurooq Corporate Office</li>
      <li class="collection-item"><div class="basic-info-title left width-100">Department</div>Information Technology</li>
      <li class="collection-item"><div class="basic-info-title left width-100">Line Manager</div>Mahendra Kakumanu</li>
      <li class="collection-item"><div class="basic-info-title left width-100 ">Status</div><span class="status-info-box-dodgerblue">Offer Letter In Progress</span></li>
  </ul>