

<div class="mailbox-view-header">
    <app-applicant-title-info>  </app-applicant-title-info>

</div>
<div class="divider mailbox-divider"></div>



  <div class="input-field col s12 l6 left no-padding margin-top-zero">
      <input id="icon_prefix" type="text" class="validate" placeholder="Search Activity" (keyup)="filterActivity()" [(ngModel)]="SearchQuery">
  </div>

  <div class="right">
      <!--
      <div class="col s12 l6" style="width:200px;">
          <select class="browser-default">
              <option value="" disabled selected>Choose an option</option>
              <option value="1" selected="selected">All Activity</option>
              <option value="2">Summary</option>


          </select>
      </div>
      -->
  </div>
  <table class="bordered">
      <thead style="background-color:#f9f9f9;">

       
          <tr>
              <th data-field="Subject">Activity</th>
              <th data-field="Subject">User</th>
              <th data-field="job" style="width:100px;">Date</th>
          </tr>
      </thead>
      <tbody>
            <tr *ngFor="let log of ActivityLogFiltered">
                    <td>here {{log.Message}}
                            <span *ngFor="let doc of log.ActivityDocuments">
                                <a href="{{doc.FileLocation}}"><i class="material-icons" style="vertical-align:middle; font-size:16px;">attach_file</i>{{doc.Title}}</a> &nbsp;
                            </span>

                    </td>
                    <td>{{log.ActivityByUserFullName}}</td>
                    <td>{{log.ActivityOn  |  date }}</td>
                    

            </tr>
        






      </tbody>
  </table>