<!-- Modal History Structure -->
<div id="modalApplicantHistory" class="modal" style="width:80%;">
    <div class="modal-content">
    
    <div class="row" style="margin:0px;">
    <div class="col12" style="margin:0px; padding:0px;">
        <h4 class="left" style="margin-left:10px; font-size:18px; margin:0px; padding:0px;"> Mr. Kevin Pieterson</h4>
        <div class="right modal-action modal-close"><i class="far fa-window-close"></i> Close</div>
    </div>
    
    
    
    
    
    <div class="col s12" style="margin:0px; padding:0px;">
      <div class="card-panel">
          <table class="bordered highlight">
                          <thead>
                              <tr>
                                  <th data-field="id" style="width:100px;">Date</th>
                                  <th data-field="name">Description</th>
                                  
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Jan 12</td>
                                  <td>Applied for job through Shurooq Portal</td>
                                  
                              </tr>
                              <tr>
                                  <td>Jan 15</td>
                                  <td>Mr. Omar Bahool shortlisted</td>
                                  
                              </tr>
                              <tr>
                                  <td>Jan 18</td>
                                  <td>Mr. Mahendrak Kakumanu approved for interview</td>
                                  
                              </tr>
                              <tr>
                                  <td>Jan 20</td>
                                  <td>Scheduled Interview on Jan 24 11:30 AM</td>
                                 
                              </tr>
                          </tbody>
                      </table>
      </div>
    </div>
    
    </div>
    
  
    
    </div>
    
    </div>