<div id="filter" class="row" style="background-color:#f4f4f4; padding:10px 20px 0px 20px;margin-bottom:0px;">
    <div class="s12">
        <div class="input-field col s12 l9 left no-padding margin-top-zero">
            <input id="icon_prefix" type="text" class="validate" placeholder="Search Jobs" autocomplete="off"  [(ngModel)]="SearchQuery" (keyup)="filterJobs()">
        </div>

       
        <div class="right" style="padding-top:15px;">
        <a class="waves-effect waves-light btn indigo m-b-xs"  (click)="showJobs()" >{{ShowActiveOrClosedJobsButtonDisplayText}}</a>

        </div>

  
    </div>
  </div>