<!--
<h5 class="mailbox-subtitle">Objective</h5>
  <p>Outgoing Certified Public Accountant with an MBA and +2 years of experience in specialized tax services. Seeking to leverage my technical and professional expertise to grow in the new role of Accountant at your company.</p>
-->
  <h5 class="mailbox-subtitle">Personal Profile</h5>
  <ul class="collection">
      <li class="collection-item"><div class="basic-info-title left">Full Name</div>{{ApplicantProfileInfo.FullName}}</li>
      <li class="collection-item"><div class="basic-info-title left">Religion</div>{{ApplicantProfileInfo.Religion}}</li>
      <li class="collection-item"><div class="basic-info-title left">Caste</div>{{ApplicantProfileInfo.Caste}}</li>
      <li class="collection-item"><div class="basic-info-title left">Country</div>{{ApplicantProfileInfo.candidateCountry}}</li>
      <li class="collection-item"><div class="basic-info-title left">City</div>{{ApplicantProfileInfo.city}}</li>
      <li class="collection-item"><div class="basic-info-title left">Languages Known</div>{{ApplicantProfileInfo.LanguagesKnown}}</li>
      <li class="collection-item"><div class="basic-info-title left">Visa Status</div>{{ApplicantProfileInfo.VisaStatus}}</li>
      <li class="collection-item"><div class="basic-info-title left">Notice Period</div>Male</li>
      <li class="collection-item"><div class="basic-info-title left">Email</div>{{ApplicantProfileInfo.Email}}</li>
      <li class="collection-item"><div class="basic-info-title left">Mobile</div>{{ApplicantProfileInfo.MobileCountryCode}}-{{ApplicantProfileInfo.MobileNo}}</li>
      <li class="collection-item"><div class="basic-info-title left">Relative Details</div>{{ApplicantProfileInfo.RelativeDetails}}</li>
      
  </ul>