<h5 class="mailbox-subtitle">Objective</h5>
  <p>Outgoing Certified Public Accountant with an MBA and +2 years of experience in specialized tax services. Seeking to leverage my technical and professional expertise to grow in the new role of Accountant at your company.</p>

  <h5 class="mailbox-subtitle">Basic Information</h5>
  <ul class="collection">
      <li class="collection-item"><div class="basic-info-title left">Date of Birth</div>May 09, 1984 (34 Years)</li>
      <li class="collection-item"><div class="basic-info-title left">Nationality</div>India</li>
      <li class="collection-item"><div class="basic-info-title left">Country of Residence</div>UAE</li>
      <li class="collection-item"><div class="basic-info-title left">Visa Status</div>Employment</li>
      <li class="collection-item"><div class="basic-info-title left">Gender</div>Male</li>
  </ul>