<div class="card">
  <div class="card-content">
      <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Employment Profile</span>
      <div class="row">
          <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Designation</label>
   
                  </div>

          <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Reporting To</label>
   
                  </div>
      </div>

      

      <div class="row">
          <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Current/Last Employer</label>
   
                  </div>

          <div class="input-field col s2">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class=""> Gross Salary (AED)</label>
   
                  </div>

          <div class="input-field col s2">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Employed From</label>
   
                  </div>

          <div class="input-field col s2">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Employed To</label>
   
                  </div>
      </div>

       <div class="row">
<div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" length="160"></textarea>
                      <label for="last_name" class="">Reason for leaving</label>
   
                  </div>
</div>
  </div>
</div>