<div class="row">
    <div class="col s12" style="background-color:#e2e1e1; padding-top:5px">
                <div class="breadcrumb"><a href="../dashboard.aspx" class="breadcrumb-nav">Home</a> | Jobs</div>
                <div id="filter-applied" class="page-title right">
                    <a class="waves-effect waves-grey btn-flat tooltipped" data-position="left" data-delay="50" data-tooltip="Add new job" data-tooltip-id="97e33378-66e1-829c-cfdb-9ea0c768ab2b"><i class="fas fa-address-card"></i> Add New Job Vacancy</a>

                </div>
            </div>

<div class="col s12 m12 l12 job-application-form-s12" style="  padding:15px;" >



        <div class="card">
            <div class="card-content">
                <span class="card-title" style="margin-bottom:15px; padding-left:10px;">Candidate Information</span>
                <div class="row">
                            <div class="input-field col s4">
                                 <input id="CandidateName" type="text" readonly="readonly" [(ngModel)]="CandidateName" style="color:gray">
                                <label for="CandidateName" class="active" style="color:silver ">Candidate Name</label>
             
                            </div>

                            <div class="input-field col s2">
                                <input id="ERFNo" type="text" readonly="readonly" [(ngModel)]="ERFNo" style="color:gray">
                                <label for="ERFNo" class="active" style="color:silver ">ERF#</label>
                            </div>
                    <div class="input-field col s2">
                                <input id="CandidateNo" type="text" readonly="readonly" [(ngModel)]="CandidateNo" style="color:gray">
                                <label for="CandidateNo" class="active" style="color:silver ">Candidate#</label>
                            </div>

                            <div class="input-field col s2">
                                <input id="ApplciationNo" type="text" readonly="readonly" [(ngModel)]="ApplciationNo" style="color:gray">
                                <label for="ApplciationNo" class="active" style="color:silver ">Application#</label>
                            </div>

                     <div class="input-field col s2">
                                 <input id="InterviewDate" type="text" readonly="readonly"  [(ngModel)]="InterviewDate" style="color:gray">
                                <label for="InterviewDate" class="active" style="color:silver ">Interview Date</label>
                            </div>
                 </div>    
                
                <div class="row" style="padding-top:15px;">
                     <div class="input-field col s4">
                                <input id="PositionInterviewedFor" type="text" readonly="readonly" [(ngModel)]="PositionInterviewedFor" style="color:gray">
                                <label for="PositionInterviewedFor" class="active" style="color:silver ">Position Interviewed for</label>
             
                            </div>

                    <div class="input-field col s4">
                                 <input id="Division" type="text" readonly="readonly" [(ngModel)]="Division" style="color:gray">
                                <label for="Division" class="active" style="color:silver ">Division</label>
             
                            </div>

                    <div class="input-field col s4">
                                 <input id="Department" type="text" readonly="readonly" [(ngModel)]="Department" style="color:gray">
                                <label for="Department" class="active" style="color:silver ">IT Department</label>
             
                            </div>
                </div>

                 <div class="row" style="padding-top:15px;">
                     <div class="input-field col s7">
                                <input id="Interviewer" type="text" readonly="readonly" [(ngModel)]="Interviewer" style="color:gray">
                                <label for="Interviewer" class="active" style="color:silver ">Interviewer</label>
             
                            </div>

                    <div class="input-field col s5">
                                <input id="JobTitle" type="text" readonly="readonly" [(ngModel)]="JobTitle" style="color:gray">
                                <label for="JobTitle" class="active" style="color:silver ">Job Title</label>
             
                            </div>

                    
                </div>

            </div>
        </div>



<div class="card">
<div class="card-content">
    <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Evaluation</span>

    <div class="row" style="background-color:#eceff1; margin-left:10px; margin-top:10px; padding:10px; font-size:13px;">


        SUITABILITY MATCHING : Rate the candidate between 1-10, being the highest number shows rating "Excellent" <br />
        SUITABILITY MATCHING PERCENTAGE : Exceptionally Matching : 90%>, Very much matching : 75% - 90% , Somewhat matching : 60%-75% ,  not matching : < 60%
    </div>
    <div class="row">
                    <div class="input-field col s3">
                        <p>Job Knowledge</p>
                        <input id="JobTitle" type="number" name="JobTitle" [(ngModel)]="JobKnowledge" min="0" max="10" (change)="CalculateScore()" >
                                     
                                
             
                            </div>

                   <div class="input-field col s3">

                       

                        <p>Innovation s</p>
                        <input [ngxTimepicker]="picker" readonly>
                        <ngx-material-timepicker #picker></ngx-material-timepicker>

                        <input id="Innovation" type="number" name="Innovation" [(ngModel)]="Innovation" min="0" max="10" (change)="CalculateScore()">
                        </div>

                   <div class="input-field col s3">
                        <p>Relevant Job Experience</p>
                        <input id="RelevantJobExperience" type="number" name="RelevantJobExperience" [(ngModel)]="RelevantJobExperience" min="0" max="10" (change)="CalculateScore()">
                            </div>

                    <div class="input-field col s3">
                        <p>Service Excellence</p>
                        <input id="ServiceExcellence" type="number" name="ServiceExcellence" [(ngModel)]="ServiceExcellence" min="0" max="10" (change)="CalculateScore()">
                    </div>
                </div>
    <div class="row">
                    <div class="input-field col s3">
                        <p>Relevant Education/Training</p>
                        <input id="RelevantEducation" type="number" name="RelevantEducation" [(ngModel)]="RelevantEducation" min="0" max="10" (change)="CalculateScore()">
                                     
                                
             
                            </div>

                   <div class="input-field col s3">
                        <p>Attention to Details</p>
                        <input id="AttentionToDetails" type="number" name="AttentionToDetails" [(ngModel)]="AttentionToDetails" min="0" max="10" (change)="CalculateScore()">
                            </div>

                   <div class="input-field col s3">
                        <p>Market Intelligence</p>
                        <input id="MarketIntelligence" type="number" name="MarketIntelligence" [(ngModel)]="MarketIntelligence" min="0" max="10" (change)="CalculateScore()">
                            </div>

                    <div class="input-field col s3">
                        <p>Leadership Skills</p>
                        <input id="LeadershipSkills" type="number" name="LeadershipSkills" [(ngModel)]="LeadershipSkills" min="0" max="10" (change)="CalculateScore()">
                            </div>
                </div>
</div>
</div>

<div class="row"><div class="waves-effect waves-light btn right" style="cursor:default;">Total Score : {{TotalScore}} </div>
 <div class="waves-effect waves-light btn right" style="cursor:default; margin-right:15px;">Total Percentage : {{TotalPercentage}}%</div></div>


        <div class="card">
            <div class="card-content">
                <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Gap Analysis & Recommendation</span>
                
                
                                                 <div class="row">
      <div class="input-field col s12">
                                  <textarea id="textarea1" class="materialize-textarea" length="500"></textarea>
                              
                            </div>
</div>

                <p class="p-v-xs1" style="margin-left:10px;">
                            
                        <mat-checkbox  [(ngModel)]="isSuitableForAnotherPosition" name="Evaluator">Suitable for another position</mat-checkbox> 
                        </p>
    
    <div class="row">
    <div class="input-field col s12" >
                            <input id="last_name" type="text" class="validate" placeholder="Mention other suitable position" autocomplete="off">
         </div>                       </div>
            </div>
        </div>

<div class="row">
<a (click)="onHireCandidate()" class="waves-effect waves-light green btn" style="margin-right:10px"><i class="material-icons right">done</i>Select Candidate</a>
<a (click)="onRejectCandidate()" class="waves-effect waves-light red btn" style="margin-right:10px"><i class="material-icons right">close</i>Reject Candidate</a>
<a (click)="onFurherInteview()" class="waves-effect waves-light blue btn" style="margin-right:10px"><i class="material-icons right">mic</i>Need Further Interview</a>
<a (click)="onReset()" class="waves-effect waves-light grey btn" style="margin-right:10px"><i class="material-icons right">arrow_back</i>Reset and Go Back</a>
</div>


<div class="card">
<div class="card-content">
    <span class="card-title" style="margin-bottom:0px; padding-left:10px;">HR Comments</span>
     <div class="row">
                    <div class="input-field col s12">
                                 <textarea id="textarea1" class="materialize-textarea" length="300"></textarea>

                            </div>

                    
                </div>
   
                <p class="p-v-xs1" style="margin-left:10px;">
                            
                        <mat-checkbox  [(ngModel)]="isSuitableForAnotherPosition" name="Evaluator">Suitable for another position</mat-checkbox> 
                        </p>
  
    
    <div class="row">
    <div class="input-field col s12" >
                            <input id="last_name" type="text" class="validate" placeholder="Mention other suitable position" autocomplete="off">
         </div>                       </div>


    </div>
  </div>


<div class="row">
<a class="waves-effect waves-light green btn" style="margin-right:10px" (click)="onHireCandidate()" ><i class="material-icons right">done</i>Hire Candidate</a>
<a class="waves-effect waves-light red btn" style="margin-right:10px" (click)="onRejectCandidate()"><i class="material-icons right">close</i>Reject Candidate</a>
<a class="waves-effect waves-light blue btn" style="margin-right:10px" (click)="onFurherInteview()"><i class="material-icons right">mic</i>Need Further Interview</a>
<a class="waves-effect waves-light grey btn" style="margin-right:10px" (click)="onReset()"><i class="material-icons right">arrow_back</i>Reset and Go Back</a>
</div>
       
    </div>


    
</div>