<h5 class="mailbox-subtitle">Experience</h5>
<table class="bordered">
    <thead>
        <tr>
            <th data-field="uaeExp">UAE Work Experience</th>
            <th data-field="nonUAEExp">Non-UAE Work Experience</th>
            <th data-field="TotalExp">Total Work Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ApplicantProfileInfo.WorkExperienceUAE}} </td>
            <td>{{ApplicantProfileInfo.WorkExperienceNonUAE}} </td>
            <td>{{ApplicantProfileInfo.WorkExperienceTotal}} </td>
        </tr>
      
    </tbody>
</table>