<div class="card">
  <div class="card-content">
      <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Position Applied</span>
      <div class="row" style="margin-bottom:0px;">
          <div class="col s12" style="margin-top:-10px;  padding:0px;">
              <div class="row" >
                 <div class="input-field col s12">
            <select class="js-states browser-default" multiple="multiple" tabindex="-1" style="width: 100%" id="multiple">
              <!-- Load from API-->
              </select>
              
          </div>
              </div>
           
          </div>
      </div>

      <div class="row" style="margin-bottom:0px;">
          <div class="col s12" style="margin-top:-10px;  padding:0px;">
              <div class="row" style="padding-top:20px;" >
                 <div class="input-field col s6" >
           
              <label class="active">Preffered Location</label>

                       <p class="p-v-xs1">
                  <input type="checkbox" id="chk1" value="1" style="left:0px;"  >
                  <label for="chk1" style="padding-left: 25px; padding-right:25px; left: 0rem">Sharjah City</label>

                           <input type="checkbox" id="chk5" value="2" >
                  <label for="chk5" style="padding-left: 25px; padding-right:30px;">Mleiha</label>

                            <input type="checkbox" id="chk2" value="3">
                  <label for="chk2" style="padding-left: 25px; padding-right:30px;">Eastern Sharjah</label>


                          

                       
              </p>
                      
          </div>
                  <div class="input-field col s12" >
                  <input id="last_name" type="text" class="validate" placeholder="Mention if Other Location" autocomplete="off">
                      </div>
              </div>
           
          </div>
      </div>
  </div>
</div>