<h5 class="mailbox-subtitle">Education</h5>
  <ul class="collection">
      <li class="collection-item"><span class="cv-subtitle-heading">Masters in Business Administration from The University of Chicago Booth School of Business</span> <br /> <span class="cv-subtitle-heading-small"> March 2016 to March 2018</span></li>
      <li class="collection-item"><span class="cv-subtitle-heading">Bachelors in Business Administration from American University of Sharjah</span> <br /> <span class="cv-subtitle-heading-small"> January 2013 to January 2015</span></li>
      <li class="collection-item"><span class="cv-subtitle-heading">Higher secondary school from GEMS Our Own Indian High School</span> <br /> <span class="cv-subtitle-heading-small"> June 2003 to December 2012</span></li>

  </ul>
