<li [ngClass]="{'candidate-selected':isSelectedCandidate==true}" >
          <a style="cursor: pointer;" (click)="GetCandidateDetails()"  > 
              <div class="left">
                  <img [src]="GetProfilePic(Applicant.Gender)" alt="" class="circle mailbox-profile-image" style="margin-top:-10px;">
              </div>
             <!--<h5 class="mail-author candidate-list-designation">Angular Developer</h5>-->
              <h4 class="mail-title candidate-list-title">{{Applicant.FullName}}</h4>
              <h4 class="mail-title candidate-list-title">Ref# {{Applicant.CandidateDisplayID}}</h4>
             
          </a>
        </li> 

  
