<div class="card">
  <div class="card-content">
      <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Personal Profile</span>
      <div class="row">
                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">First Name (*)</label>
   
                  </div>

                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Middle Name</label>
                  </div>

                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Last Name (*)</label>
                  </div>
       </div>    
      <div class="row">
                  <div class="input-field col s3">
                       <select style="width:100%;">
                 
                            <option value="1">Islam</option>
                            <option value="2">Hindu</option>
                            <option value="3">Christian</option>
              </select>
                      <label for="last_name" class="active">Relgion</label>
   
                  </div>

                  <div class="input-field col s3">
                       <select style="width:100%;">
                 
                  <option value="1">ABC</option>
                  <option value="2">EFG</option>
                 
              </select>
                      <label for="last_name" class="active">Caste</label>
   
                  </div>

                  <div class="input-field col s3">
                       <select style="width:100%;" >
                 
                  <option value="1">UAE</option>
                  <option value="2">India</option>
                  <option value="3">USA</option>
              </select>
                      <label for="last_name" class="active">Country</label>
   
                  </div>
            <div class="input-field col s3">
                       <select style="width:100%;">
                 
                  <option value="7">Dubai</option>
                  <option value="8">Sharjah</option>
                  <option value="1000">Other</option>
              </select>
                      <label for="last_name" class="active">City</label>
   
                  </div>

          
       </div> 
      <div class="row" style="padding-top:15px;">
          <div class="input-field col s4">
                       <select style="width:100%;" multiple>
                 
                  <option value="1">English</option>
                  <option value="2">Hindi</option>
                  <option value="3">Arabic</option>
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Languages known (*)</label>
   
                  </div>

          <div class="input-field col s4">
                       <select style="width:100%;">
                 
                  <option value="4">Visit</option>
                  <option value="5">Employment</option>
                  <option value="6">Dependant</option>
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Visa Status (*)</label>
   
                  </div>

          <div class="input-field col s4">
                       <select style="width:100%;">
                 
                  <option value="1 month">1 month</option>
                  <option value="2 month">2 month</option>
                
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Notice Period</label>
   
                  </div>
      </div>

       <div class="row">
                  <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Email (*)</label>
   
                  </div>

                  <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Mobile No (*)</label>
                  </div>

                  
       </div>  

      <div class="row">
                  <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" length="160"></textarea>
               
                      <label for="last_name" class="">Furnish the details of relatives at SHUROOQ (If any)</label>
   
                  </div>

                  

                  
       </div>  
  </div>
</div>