<div class="card">
  <div class="card-content">
      <span class="card-title" style="margin-bottom:0px; padding-left:10px;">Personal Profile</span>
      <div class="row">
                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">First Name</label>
   
                  </div>

                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Middle Name</label>
                  </div>

                  <div class="input-field col s4">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Last Name</label>
                  </div>
       </div>    
      <div class="row">
                  <div class="input-field col s3">
                       <select style="width:100%;">
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active">Relgion</label>
   
                  </div>

                  <div class="input-field col s3">
                       <select style="width:100%;">
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active">Caste</label>
   
                  </div>

                  <div class="input-field col s3">
                       <select style="width:100%;" >
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active">Country</label>
   
                  </div>
            <div class="input-field col s3">
                       <select style="width:100%;">
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active">City</label>
   
                  </div>

          
       </div> 
      <div class="row" style="padding-top:15px;">
          <div class="input-field col s4">
                       <select style="width:100%;" multiple>
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Languages known</label>
   
                  </div>

          <div class="input-field col s4">
                       <select style="width:100%;">
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Visa Status</label>
   
                  </div>

          <div class="input-field col s4">
                       <select style="width:100%;">
                 
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
              </select>
                      <label for="last_name" class="active" style="padding-top:30px">Notice Period</label>
   
                  </div>
      </div>

       <div class="row">
                  <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Email</label>
   
                  </div>

                  <div class="input-field col s6">
                       <input id="last_name" type="text" class="validate">
                      <label for="last_name" class="">Mobile No</label>
                  </div>

                  
       </div>  

      <div class="row">
                  <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" length="160"></textarea>
               
                      <label for="last_name" class="">Furnish the details of relatives at SHUROOQ (If any)</label>
   
                  </div>

                  

                  
       </div>  
  </div>
</div>