<div class="candidate-shortlist-right-bar right">
  <a (click)="showQucikActionModal()" class="waves-effect waves-grey btn-flat  padding-12-left-right candidate-bar-button-margin tooltipped"  data-position="left" data-delay="50" data-tooltip="Click to short list Mr. Kevin Pieterson for this job"><i class="fas fa-clipboard-check"></i> Shortlist </a>
</div>

  

<!-- Modal Structure -->
<div id="modal_quickaction" class="modal">
<div class="modal-content">


<div class="row">

<div class="input-field col s12">
<h4 style="margin-bottom:0px;">Shortlist {{SelectedCandidateBasicInfo.FullName}}  for a job.</h4>
<select  id="qJob" style="width:100%;" [(ngModel)]="SelectedJobToShortList">
  <option value="0" selected>Select a Job to Shortlist</option>
  <option *ngFor="let c of ShortListableJobs" [ngValue]="c.VacancyID">{{c.Title}}</option>  
                
</select>
<!--
<select style="width:100%;" [(ngModel)]="ShortListableJob"  name="ShortListableJob" >
  <option *ngFor="let c of ShortListableJobs" [ngValue]="c.VacancyID">{{c.Title}}</option>
</select>
-->
</div>
</div>



</div>
<div class="modal-footer">
<a (click)="shortlistCandidate()" class=" modal-action  waves-effect btn-flat">Shortlist</a>
<a class=" modal-action modal-close waves-effect  btn-flat">Cancel</a>
</div>
</div>