<div class="row">
  <div class="col s12" style="background-color:#e2e1e1; padding-top:5px">
    <app-breadcrumb-add-candidate></app-breadcrumb-add-candidate>
   <!-- <app-add-candidate-quick-acion-buttons></app-add-candidate-quick-acion-buttons> -->
          </div>

<div class="col s12 m12 l12 job-application-form-s12" style="  padding:15px;" >
    <app-add-candidate-form-postion-applied></app-add-candidate-form-postion-applied>
    <app-add-candidate-form-personal-profile></app-add-candidate-form-personal-profile>
    <app-add-candidate-form-work-experience></app-add-candidate-form-work-experience>
    <app-add-candidate-form-employment-profiles></app-add-candidate-form-employment-profiles>
    <app-add-candidate-form-academic-profiles></app-add-candidate-form-academic-profiles>
    <app-add-candidate-form-whyshurooq></app-add-candidate-form-whyshurooq>
    <app-add-candidate-form-uploadcv></app-add-candidate-form-uploadcv>



<div class="row">
<a class="waves-effect waves-light green btn" style="margin-right:10px;"><i class="material-icons right">save</i>Save Candidate</a>
<a class="waves-effect waves-light red btn"><i class="material-icons right">delete</i>Reset</a>

</div>
     
  </div>


  
</div>