<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
          

  <li class="no-padding" id="menudashboard" runat="server" >
          <a class="collapsible-header waves-effect waves-grey" routerLink="home" ><i class="material-icons">settings_input_svideo</i>Dashboard</a>
      </li> 

<li class="no-padding" id="menucandidates" runat="server">
  <a class="collapsible-header waves-effect waves-grey" routerLink="candidates" ><i class="material-icons">contacts</i>Candidates</a>
</li>      



<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey" routerLink="jobs" ><i class="material-icons">input</i>Job Openings</a>
  
</li>

<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey" routerLink="interviews"><i class="material-icons">assignment</i>Interviews</a>

</li>


<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey" href="/security/security.aspx"><i class="fas fa-user-secret"></i>Security</a>

</li>


<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey" href="/offers/offers.aspx"><i class="fas fa-money-check-alt"></i> Offers</a>
 
</li>

<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">business</i>Onboarding</a>
  
</li>

<li class="no-padding">
  <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">description</i>Reports<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
  <div class="collapsible-body">
      <ul>
          <li><a href="#">Report 1</a></li>
          <li><a href="#">Report 2</a></li>
          <li><a href="#">Report 3</a></li>
      </ul>
  </div>
</li>



</ul>