<!-- Modal Document Structure -->
<div id="modalApplicantDocuments" class="modal" style="width:80%;">
    <div class="modal-content">
    
    <div class="row" style="margin:0px;">
    <div class="col12" style="margin:0px; padding:0px;">
        <h4 class="left" style="margin-left:10px; font-size:18px; margin:0px; padding:0px;"> Documents of Mr. Kevin Pieterson</h4>
        <div class="right modal-action modal-close"><i class="far fa-window-close"></i> Close</div>
    </div>
    
    
    <div class="col s12" style="margin:0px; padding:0px;">
        <div class="card-panel #fafafa grey lighten-4">
                 <div class="row" style="margin:0px;">
                      <div class="input-field col s3">
      
     <select placeholder="Select Stage" style="width:100%;">
    
          <option value="1" selected disabled>Select Document</option>
          <option value="2">Passport Copy</option>
          <option value="3">Degree Certificate</option>
         <option value="3">Marriage Certificate</option>
         <option value="3">Experience Certificate</option>
      </select>
    </div>
    
                     <div class="input-field col s3">
      
      <input placeholder=""  type="text" class="validate">
      <label for="first_name">File Name (Display Name)</label>
    </div>
    <div class="file-field input-field col s4">
                                      <div class="btn  teal">
                                          <span>Select File</span>
                                          <input type="file" multiple="">
                                      </div>
                                      <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Click to select file">
                                      </div>
                                  </div>
      <a href="#!" onclick="fileUploaded();"class="s2 modal-action  waves-effect deep-purple lighten-1 white-text  btn-flat" style="margin-right:5px; margin-top:20px;">Upload File</a>
    
                 </div>
    
            
              </div>
    </div>
    
    
    <div class="col s12" style="margin:0px; padding:0px;">
      <div class="card-panel">
          <table class="bordered highlight">
                          <thead>
                              <tr>
                                  <th data-field="id" style="width:250px;">Title</th>
                                  <th data-field="name">File</th>
                                  
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Passport Copy</td>
                                  <td><a href="#"> Page1.jpg</a> |<a href="#"> Page2.jpg</a></td>
                                  
                              </tr>
                              <tr>
                                  <td>Degree Certificate</td>
                                  <td><a href="#">certificate1.pdf</a></td>
                                  
                              </tr>
                              <tr>
                                  <td>Marriage Certificate</td>
                                  <td><a href="#">certificate1.pdf</a></td>
                                  
                              </tr>
                              <tr>
                                  <td>Experience Certificate</td>
                                  <td><a href="#">cert1.pdf</a> | <a href="#">cert2.pdf</a></td>
                                 
                              </tr>
                          </tbody>
                      </table>
      </div>
    </div>
    
    </div>
    
    
    
    
    
    
    
    
    </div>
    
    </div>