<div class="left">
  <div class="left">
      <img [src]="GetProfilePic(SelectedCandidateBasicInfo.Gender)" alt="" class="circle mailbox-profile-image z-depth-1">
  </div>
  <div class="left">
      <span class="mailbox-title">{{SelectedCandidateBasicInfo.FullName}}</span>
      <span class="applicant-ref">{{SelectedCandidateBasicInfo.CandidateDisplayID}}</span> <br />
      <span class="mailbox-author">{{SelectedCandidateBasicInfo.Gender}}</span> <br />
      <span class="mailbox-author">{{SelectedCandidateBasicInfo.CandidateNationality}}</span>
  </div>
</div>