<div class="col s12 header-filter-margin-padding-zero" style="padding:0px;">
  <ul class="collapsible  collapsable-candidate-filter-header header-filter-margin-padding-zero" data-collapsible="accordion">
      <li>
          <div class="collapsible-header collapsable-candidate-filter-header" style="background:#f9f9f9;"><i class="fas fa-filter" style="margin-right:3px;"></i><div style="float:left; margin-right:6px;">Filters Applied : {{AppliedFilterCount}} </div><i class="fas fa-chevron-circle-down"></i></div>
          <div class="collapsible-body">
              <div class="collapsable-candidate-filter-body">
                  <div *ngIf="showKeywordsChip"  class="chip">Keywords: {{Enteredkeywords}} </div> 
                  <div *ngIf="showJobIndustryChip" class="chip">Job Industry: {{JobIndustryChip}}</div> 
                  <div *ngIf="showNationalityChip" class="chip">Nationality: {{NationalityChip}}</div> 
                  <div *ngIf="showLanguagesKnownChip" class="chip">Languages: {{LanguagesKnownChip}}</div>   
                  <div *ngIf="showEducationChip" class="chip">Education : {{EducationChp}}</div> 
                  <div *ngIf="showGenderChip" class="chip">Gender : {{GenderChip}}</div>
                  <div *ngIf="showExperienceChip" class="chip">Experience : {{ExperienceChip}}</div>
                  <div *ngIf="showVisaStatusChip" class="chip">Visa status : {{VisaStatusChip}}</div>

                  <div style="padding-top:10px;">
                  <a (click)="showFilterModal()" class=" modal-action  waves-effect waves-green green btn  " style="margin-right:8px;"><i class="fas fa-filter"></i> Filter Options</a>
                  <a  (click)="onClearFilterCandidate()" class=" modal-action modal-close waves-effect waves-green red btn"><i class="fas fa-times-circle"></i> Reset</a>
                  </div>

              </div>
          </div>
      </li>
  </ul>

 

</div>


<div id="modal_filter_candidates" class="modal bottom-sheet">
  <div class="modal-content">
      <h4> <i class="fas fa-filter"></i> Filter Candidates</h4>
      <div class="row" style="margin:0px;">

          <div class="input-field col s12">
              <input placeholder="" id="keywords" type="text" class="validate" name="keywords" [(ngModel)]="Enteredkeywords">
              <label for="keywords">Search CV</label>
          </div>
      </div>
         

      <div class="row" style="margin:0px;">
          <div class="input-field col s6">
              <p style="margin-top:5px;">Job Industry</p>

            


              <select style="width:100%;" multiple  name="DrpJobIndustry" id="DrpJobIndustry">
              
                <option *ngFor="let c of JobIndustryList" [ngValue]="c.IndustryID" [value]="c.IndustryID" >{{c.Industry}}</option>  
                                                       
               
              </select>

          </div>

          <div class="input-field col s6">
                <p style="margin-top:5px;">Nationality</p>
                <select style="width:100%;" multiple id="DrpNationality">
                      
                        <option value="1">United Arab Emirates</option>
                        
                        <option *ngFor="let c of CountryNationalityList" [ngValue]="c.CountryID" [value]="c.CountryID" >{{c.Country}}</option>  
                </select>
              
  
            </div>
      </div>

      <div class="row" style="margin:0px;">
            <div class="input-field col s6">
                <p style="margin-top:5px;">Languages Known</p>
                <select style="width:100%;"  multiple id="DrpLanguagesKnown">
                        
                        <option *ngFor="let c of LanguageList" [ngValue]="c.LanguageID" [value]="c.LanguageID" >{{c.Language}}</option>  
                    </select>
  
            </div>
  
            <div class="input-field col s6">
                  <p style="margin-top:5px;">Education</p>
                  <select style="width:100%;"  multiple id="DrpEducation">
    
                   
                      <option value="8">PHD</option>
                      <option value="7">Masters</option>
                      <option value="6">Bachelors</option>
                      <option value="5">Under Graduate</option>
                      <option value="4">Higher Diploma</option>
                      <option value="3">Diploma</option>
                      <option value="2">High School</option>
                      <option value="1">Lower than High School</option>
                  </select>
    
              </div>
        </div>
      

      <div class="row" style="margin:0px;">
        
          <div class="input-field col s4">
                <p>By Gender</p>
              <select placeholder="Select Stage" style="width:100%;" id="DrpGender">

                  <option value=""  disabled>By Gender</option>
                  <option value="" selected>All</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
              </select>

          </div>

          <div class="input-field col s4">
                <p>By Experience</p>
              <select style="width:100%;" id="DrpExperience">

                 
                  <option value="0" selected disabled>All</option>
                  <option value="0-1">Less than 1 year</option>
                  <option value="1-2">1 to 2 years</option>
                  <option value="2-3">2 years to 3 years</option>
                  <option value="3-4">3 years to 4 years</option>
                  <option value="4-5">4 years to 5 years</option>
                  <option value="5-7">5 years to 7 years</option>
                  <option value="7-100">More than 7 years</option>
              </select>
              
          </div>

          <div class="input-field col s3" style="visibility:hidden; display:none;">
                <p>By Age</p>
              <select  style="width:100%;">

                  <option value="1"  disabled>By Education</option>
                  <option value="2" selected>All Candidates</option>
                  <option value="3">Option 3</option>
              </select>

          </div>

          <div class="input-field col s4">
                <p>By Visa Status</p>
              <select placeholder="Select Stage" style="width:100%;"  id="DrpVisaStatus">

                  <option value="" selected disabled>By Visa Status</option>
                  <option value="" selected>All</option>
                  <option value="1">Employment visa</option>
                  <option value="2">Residence visa</option>
                  <option value="3">Visit visa</option>
                  <option value="4">Dependant visa</option>
                  <option value="5">With family book</option>
                  <option value="6">Without family book</option>
              </select>

          </div>

        

          <div class="input-field  col s5" style="padding-top:10px;">
              <button id="filterCandidates"  class=" waves-effect waves-green green btn" style="margin-right: 8px;" (click)="onSubmitFilterCandidate()" [disabled]="isFilterDisabled" ><i class="fas fa-filter"></i> 
                {{FilterCandidatesDisplayText}}
              </button>

              <a id="filterCandidatesClear" class=" modal-action modal-close waves-effect waves-green red btn" style="margin-right: 8px;" (click)="onClearFilterCandidate()" ><i class="fas fa-filter"></i> Reset</a>
            <!--
              <a id="resetFilterCandidates" class=" modal-action modal-close waves-effect waves-green red btn"><i class="fas fa-times-circle" (click)="onClearFilterCandidate()"></i> Reset</a>
         -->
            </div>
      </div>
  </div>
  <!--<div class="modal-footer">
      
  </div>-->
</div>